@import "tailwindcss";

@theme {
  /* This tells Tailwind v4 to allow custom colors like bg-[#1e1e1e] */
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1e1e1e;
  color: white;
}